* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 30px;
  position: sticky;
  top:0;
  z-index:10;
}
.navbar.scrolled{
  box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

.menu {
  display: flex;
  gap: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  background: red;
  padding: 6px 10px;
  border-radius:5px;
}

/* HAMBURGER */
.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  gap:5px;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 4px;
  width: 25px;
  background: white;
  border-radius: 3px;
  transition: 0.3s;
}

/* X animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* GRID */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: #f4f4f4;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-weight:bold;
}
.card:hover{
  transform: translateY(-6px);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

/* TABLET */
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 600px) {

  .container {
    grid-template-columns: 1fr;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -220px;              /* Menu disembunyikan diluar Layar */
    width: 200px;
    height: 100vh;
    background: #222;
    flex-direction: column;
    padding: 80px 20px;
    transition: 0.4s;
    display:flex;                /* untuk animasi wajib flex jangan none */
  }

  .menu.show {
    right: 0;                    /* Disini Slide menu masuk */
  }

  .hamburger {
    display: flex;
  }
}
