
body{
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  text-align:center;
}

button{
  margin-top:20px;
  padding:10px 20px;
  border:none;
  background:#38bdf8;
  color:white;
  font-size:16px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#0ea5e9;
}
