body
{
  margin: 0;
  font-family: Arial;
}

.navbar
{
  display: flex;                          <!-- Ini yang buat Logo & menunya sejajar -->
  justify-content: space-between;               <!-- Logo kiri, menu kanan>
  align-items: center;                         <!-- Sejajar tengah, dari atas / bawah (vertikal -->
  background: #222;
  color: white;
  padding: 15px 30px;
}

.menu a
{
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.container
{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card
{
  background: #f4f4f4;
  padding: 40px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

